<div class="row align-items-start">
    <div class="col-1 mt-1">
        <div class="badge badge-rubric-advanced px-0 rubric-score">A</div>
    </div>
    <div class="col small"><strong>Advanced</strong> - Work clearly demonstrates understanding and skill <i>beyond</i> the level of proficiency in the course outcomes expected at this point in the year.</div>
</div>
<div class="row align-items-start">
    <div class="col-1 mt-1">
        <div class="badge badge-rubric-proficient px-0 rubric-score">P</div>
    </div>
    <div class="col small"><strong>Proficient</strong> - Work clearly demonstrates understanding and skill that is appropriate to the level of proficiency in the course outcomes expected at this point in the year.</div>
</div>
<div class="row align-items-start">
    <div class="col-1 mt-1">
        <div class="badge badge-rubric-developing px-0 rubric-score">D</div>
    </div>
    <div class="col small"><strong>Developing</strong> - Work is unclear or does not demonstrate understanding appropriate to the level of proficiency in the course outcomes expected at this point in the year.</div>
</div>
<div class="row align-items-start">
    <div class="col-1 mt-1">
        <div class="badge badge-rubric-not-yet px-0 rubric-score">NY</div>
    </div>
    <div class="col small"><strong>Not Yet</strong> - Work does not yet show an understanding of the skills or concepts described in the course outcomes.</div>
</div>
<div class="row align-items-start">
    <div class="col-1 mt-1">
        <div class="badge badge-rubric-na px-0 rubric-score">NA</div>
    </div>
    <div class="col small">Assignment was not assessed on this outcome.</div>
</div>