@import '../../shared/assignment-title/assignment-title.component.scss';
@import '../../shared/rubric-badge/rubric-badge.component.scss';

.row {
    margin-bottom: .5rem;
}

.badge-rubric{
    width: 2rem;
}