<div class="row align-items-start">
    <div class="col-auto mr-2 mt-1 badge badge-rubric badge-rubric-advanced">A</div>
    <div class="col px-0 small"><strong>Advanced</strong> - Work clearly demonstrates understanding and skill <i>beyond</i> the level of proficiency in the course outcomes expected at this point in the year.</div>
</div>
<div class="row align-items-start">
    <div class="col-auto mr-2 mt-1 badge badge-rubric badge-rubric-proficient">P</div>
    <div class="col px-0 small"><strong>Proficient</strong> - Work clearly demonstrates understanding and skill that is appropriate to the level of proficiency in the course outcomes expected at this point in the year.</div>
</div>
<div class="row align-items-start">
    <div class="col-auto mr-2 mt-1 badge badge-rubric badge-rubric-developing">D</div>
    <div class="col px-0 small"><strong>Developing</strong> - Work is unclear or does not demonstrate understanding appropriate to the level of proficiency in the course outcomes expected at this point in the year.</div>
</div>
<div class="row align-items-start">
    <div class="col-auto mr-2 mt-1 badge badge-rubric badge-rubric-not-yet">NY</div>
    <div class="col px-0 small"><strong>Not Yet</strong> - Work does not yet show an understanding of the skills or concepts described in the course outcomes.</div>
</div>
<div class="row align-items-start">
    <div class="col-auto mr-2 mt-1 badge badge-rubric badge-rubric-na">na</div>
    <div class="col px-0 small">Work was not assessed on this outcome.</div>
</div>