@import '../graph-dot-group/graph-dot-group.component.scss';

.progress-key{
    height: 30px;
}

.progress-key-bar{
    font-size: 1rem;
    color: black !important;
}

.dot{
    position: relative;
    background-color: #000;
    margin-right: .1rem;
}