.rubric-score {
    color: #ffffff;
    width: 2rem;
    font-size: 1rem;
    margin-right: .2rem;
}

.rubric-score-skinny {
    width: 1rem;
}

.admin-small {
    width: .75rem;
    height: 1.35rem;
}