.rubric-score {
    color: #ffffff;
    width: 2rem;
    font-size: 1rem;
    margin-right: .2rem;
}

.rubric-score-skinny {
    width: 1rem;
}

.rubric-score-with-text {
    display: inline-flex;
    align-items: center;
}

.rubric-score-text {
    font-weight: bold;
    box-shadow: inset 0 1px 0 currentColor,
                inset -1px 0 0 currentColor,
                inset 0 -1px 0 currentColor;
    border-radius: 0 .25rem .25rem 0;
    padding: 0.25rem 0.3em 0.25rem .22rem;
    line-height: 1rem;
    margin-left: -0.4rem;
    min-width: 20px;
    max-width: 20px;
    font-size: 0.56rem;
    text-align: center;
}

.admin-small {
    width: .75rem;
    height: 1.35rem;
}

.advanced {
    color: #007bff;
}
.proficient {
    color: #28a745;
}
.developing {
    color: #ffc107;
}
.not-yet {
    color: #dc3545;
}
