.rubric-score {
    color: #ffffff;
    width: 2rem;
    font-size: 1rem;
    margin-right: .2rem;
}

.rubric-score-skinny {
    background-color: #ffffff;
    border: 1px solid currentColor;
}

.admin-small {
    width: .75rem;
    height: 1.35rem;
}

.advanced {
    color: #007bff;
}
.proficient {
    color: #28a745;
}
.developing {
    color: #ffc107;
}
.not-yet {
    color: #dc3545;
}
