.DS_Store
dump.rdb
.vscode/
env/
.venv/

dev/__pycache__
dev/api/__pycache__
dev/canvas-dashboard-avenues-nyc-*.json
dev/frontend/dist
dev/frontend/dist-ny
dev/frontend/dist-sp
!dev/dist/static
dev/static/
dev/ssl
/build-nyc
/build-sp
/build-sv
/build-sz
dev/host.cert
dev/host.key
status/*
templates/*
.github/copilot-instructions.md
