@use "sass:color";
@use "sass:map";
@import "variables";

.a-logo {
    height: 2.5rem;
    margin-right: .75rem;
}

.nav-title {
    padding: 0.5rem .5rem;
    font-size: 1.4rem;
}

.nav-heading {
    color: white;
    padding: 1rem .5rem .5rem .5rem;
    width: 100%;
}

.list-group-item {
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: white;
    padding: .25rem 1rem;
}

.list-group-item a {
    color: white;
}

.list-group-item:hover {
    background-color: color.scale(map.get($theme-colors, "dark"), $lightness: 10%);
    color: white;
}

a:hover {
    text-decoration: none;
}

.bi {
    padding-bottom: 0.125rem;
}

.active-nav {
    background-color: color.scale(map.get($theme-colors, "dark"), $lightness: 10%);
}