<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Avenues Canvas Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
</head>
<body>
  <p>The Avenues Feedback Dashboard does not currently load inside of Canvas from this version of Safari (13.1+).  
     You can access the Feedback Dashboard from within Canvas using Chrome or Firefox, or go to the Feedback Dashboard 
     site by following the link below:</p>
  <p><a href="{{url}}" target="_blank">{{url}}</p>
</body>
</html>