<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Avenues Canvas Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
</head>
<body>
    <h1>Looks like there is a problem...</h1>
    <p>Due to a change in security settings, the Avenues Feedback Dashboard is currently not working on the Safari browser.  
        <b>Please access the Dashboard using the Chrome or Firefox browsers.</b></p>
    <p>We are currently working to solve this issue, thank you for your patience.</p>
</body>
</html>