$col-width: 80px;
@import "teacher-table";

.loading {
    max-width: 50px !important;
}

.loading .rotated-header-container {
    max-width: 50px !important;
}

.loading .rotated-header-content {
    left: 0px;
}