<div *ngIf="outcomes; else spinner">
    
    <app-outcomes-key></app-outcomes-key>

    <div *ngIf="assessments_loaded; else spinner">

        <div *ngIf="(outcomes | json) == '{}'">
            No outcome-based assessments found.
        </div>

        <div *ngIf="(outcomes | json) == '{}'">
            No outcome-based assessments found.
        </div>
        
        <div *ngFor="let outcome of outcomes | keyvalue">
            
            <div *ngIf="outcome.value.assessments.length > 0" class="card mb-3">
                
                <div class="card-header font-weight-bold d-flex align-items-center py-1"
                    role="button" (click)="collapse(outcome.key)"
                    [attr.aria-expanded]="!outcomes_collapsed[outcome.key]" attr.aria-controls="o-body-{{outcome.key}}">
                    {{outcome.value.title}}

                    <div class="ml-auto">
                        <icon-plus *ngIf="outcomes_collapsed[outcome.key]" class="icon"></icon-plus>
                        <icon-dash *ngIf="!outcomes_collapsed[outcome.key]" class="icon"></icon-dash>
                    </div>
                </div>

                <div class="card-body py-1" id="o-body-{{outcome.key}}" [ngbCollapse]="outcomes_collapsed[outcome.key]">
                    <div class="row d-flex d-inline-flex mx-1 p-2 small border round">
                        <div class="outcome-description"
                            [class.is-expanded]="description_expanded[outcome.key]"
                            [class.is-collapsed]="!description_expanded[outcome.key]">
                            <span class="outcome-description-content" [innerHTML]="outcome.value.description"></span>
                            <a *ngIf="outcome.value.description" href=""
                                class="read-more-link"
                                (click)="$event.preventDefault(); toggleDescription(outcome.key)">
                                {{ description_expanded[outcome.key] ? 'Read less' : 'Read more' }}
                            </a>
                        </div>
                    </div>
                    <app-outcome-assignment-list [student_id]="student_id" [course_id]="course_id" [assessments]="outcome.value.assessments" [assignments]="assignments" [hasMajor]="course?.hasMajor"></app-outcome-assignment-list>
                </div>

            </div>

        </div>
    
    </div>

</div>


<ng-template #spinner>
    <div class="d-flex justify-content-center">
      <div class="spinner-border spinner-border-large" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
</ng-template>
